GL/Makefile
GL/glx/Makefile
GL/mesa/Makefile
GL/mesa/X/Makefile
GL/mesa/array_cache/Makefile
GL/mesa/glapi/Makefile
GL/mesa/main/Makefile
GL/mesa/math/Makefile
GL/mesa/shader/Makefile
GL/mesa/shader/grammar/Makefile
GL/mesa/shader/slang/Makefile
GL/mesa/swrast/Makefile
GL/mesa/swrast_setup/Makefile
GL/mesa/tnl/Makefile
Makefile
XTrap/Makefile
Xext/Makefile
Xi/Makefile
afb/Makefile
cfb/Makefile
cfb16/Makefile
cfb32/Makefile
composite/Makefile
config.log
config.status
damageext/Makefile
dbe/Makefile
dix/Makefile
doc/Makefile
exa/Makefile
fb/Makefile
hw/Makefile
hw/darwin/Makefile
hw/dmx/Makefile
hw/dmx/config/Makefile
hw/dmx/doc/Makefile
hw/dmx/examples/Makefile
hw/dmx/glxProxy/Makefile
hw/dmx/input/Makefile
hw/kdrive/Makefile
hw/kdrive/ati/Makefile
hw/kdrive/chips/Makefile
hw/kdrive/ephyr/Makefile
hw/kdrive/epson/Makefile
hw/kdrive/fake/Makefile
hw/kdrive/fbdev/Makefile
hw/kdrive/i810/Makefile
hw/kdrive/linux/Makefile
hw/kdrive/mach64/Makefile
hw/kdrive/mga/Makefile
hw/kdrive/neomagic/Makefile
hw/kdrive/nvidia/Makefile
hw/kdrive/pm2/Makefile
hw/kdrive/r128/Makefile
hw/kdrive/sdl/Makefile
hw/kdrive/sis300/Makefile
hw/kdrive/smi/Makefile
hw/kdrive/src/Makefile
hw/kdrive/vesa/Makefile
hw/kdrive/via/Makefile
hw/vfb/Makefile
hw/vnc/Makefile
hw/vnc/Xvnc
hw/xfree86/Makefile
hw/xfree86/common/Makefile
hw/xfree86/ddc/Makefile
hw/xfree86/dixmods/Makefile
hw/xfree86/dixmods/extmod/Makefile
hw/xfree86/doc/Makefile
hw/xfree86/doc/devel/Makefile
hw/xfree86/doc/man/Makefile
hw/xfree86/doc/sgml/Makefile
hw/xfree86/dri/Makefile
hw/xfree86/dummylib/Makefile
hw/xfree86/exa/Makefile
hw/xfree86/fbdevhw/Makefile
hw/xfree86/i2c/Makefile
hw/xfree86/int10/Makefile
hw/xfree86/loader/Makefile
hw/xfree86/os-support/Makefile
hw/xfree86/os-support/bsd/Makefile
hw/xfree86/os-support/bus/Makefile
hw/xfree86/os-support/hurd/Makefile
hw/xfree86/os-support/linux/Makefile
hw/xfree86/os-support/lynxos/Makefile
hw/xfree86/os-support/misc/Makefile
hw/xfree86/os-support/sco/Makefile
hw/xfree86/os-support/solaris/Makefile
hw/xfree86/os-support/sysv/Makefile
hw/xfree86/os-support/usl/Makefile
hw/xfree86/parser/Makefile
hw/xfree86/rac/Makefile
hw/xfree86/ramdac/Makefile
hw/xfree86/scanpci/Makefile
hw/xfree86/shadowfb/Makefile
hw/xfree86/utils/Makefile
hw/xfree86/utils/cvt/Makefile
hw/xfree86/utils/gtf/Makefile
hw/xfree86/utils/ioport/Makefile
hw/xfree86/utils/kbd_mode/Makefile
hw/xfree86/utils/pcitweak/Makefile
hw/xfree86/utils/scanpci/Makefile
hw/xfree86/utils/xorgcfg/Makefile
hw/xfree86/utils/xorgconfig/Makefile
hw/xfree86/vbe/Makefile
hw/xfree86/vgahw/Makefile
hw/xfree86/x86emu/Makefile
hw/xfree86/xaa/Makefile
hw/xfree86/xf1bpp/Makefile
hw/xfree86/xf4bpp/Makefile
hw/xfree86/xf8_16bpp/Makefile
hw/xfree86/xf8_32bpp/Makefile
hw/xgl/Makefile
hw/xgl/egl/Makefile
hw/xgl/egl/module/Makefile
hw/xgl/glx/Makefile
hw/xgl/glx/module/Makefile
hw/xgl/glxext/Makefile
hw/xgl/glxext/module/Makefile
hw/xnest/Makefile
hw/xprint/Makefile
hw/xprint/config/C/Makefile
hw/xprint/config/C/print/Makefile
hw/xprint/config/C/print/attributes/Makefile
hw/xprint/config/C/print/ddx-config/Makefile
hw/xprint/config/C/print/ddx-config/raster/Makefile
hw/xprint/config/C/print/models/CANONBJ10E-GS/Makefile
hw/xprint/config/C/print/models/CANONC3200-PS/Makefile
hw/xprint/config/C/print/models/CANONC3200-PS/fonts/Makefile
hw/xprint/config/C/print/models/GSdefault/Makefile
hw/xprint/config/C/print/models/HPDJ1600C/Makefile
hw/xprint/config/C/print/models/HPDJ1600C/fonts/Makefile
hw/xprint/config/C/print/models/HPLJ4050-PS/Makefile
hw/xprint/config/C/print/models/HPLJ4050-PS/fonts/Makefile
hw/xprint/config/C/print/models/HPLJ4family/Makefile
hw/xprint/config/C/print/models/HPLJ4family/fonts/Makefile
hw/xprint/config/C/print/models/Makefile
hw/xprint/config/C/print/models/PS2PDFspooldir-GS/Makefile
hw/xprint/config/C/print/models/PSdefault/Makefile
hw/xprint/config/C/print/models/PSdefault/fonts/Makefile
hw/xprint/config/C/print/models/PSspooldir/Makefile
hw/xprint/config/C/print/models/SPSPARC2/Makefile
hw/xprint/config/C/print/models/SPSPARC2/fonts/Makefile
hw/xprint/config/Makefile
hw/xprint/config/en_US/Makefile
hw/xprint/config/en_US/print/Makefile
hw/xprint/config/en_US/print/attributes/Makefile
hw/xprint/doc/Makefile
hw/xprint/etc/Makefile
hw/xprint/etc/Xsession.d/Makefile
hw/xprint/etc/init.d/Makefile
hw/xprint/etc/profile.d/Makefile
hw/xprint/pcl-mono/Makefile
hw/xprint/pcl/Makefile
hw/xprint/ps/Makefile
hw/xprint/raster/Makefile
hw/xwin/Makefile
include/Makefile
libtool
mfb/Makefile
mi/Makefile
miext/Makefile
miext/cw/Makefile
miext/damage/Makefile
miext/rootless/Makefile
miext/shadow/Makefile
os/Makefile
randr/Makefile
record/Makefile
render/Makefile
xfixes/Makefile
xkb/Makefile
XTrap/libxtrap.la
XTrap/xtrapddmi.lo
XTrap/xtrapdi.lo
XTrap/xtrapdiswp.lo
XTrap/xtrapditbl.lo
Xext/EVI.lo
Xext/appgroup.lo
Xext/bigreq.lo
Xext/cup.lo
Xext/dpms.lo
Xext/libXext.la
Xext/libXextbuiltin.la
Xext/libXextmodule.la
Xext/mitmisc.lo
Xext/panoramiX.lo
Xext/panoramiXSwap.lo
Xext/panoramiXprocs.lo
Xext/sampleEVI.lo
Xext/saver.lo
Xext/security.lo
Xext/shape.lo
Xext/shm.lo
Xext/sleepuntil.lo
Xext/sync.lo
Xext/xace.lo
Xext/xcmisc.lo
Xext/xevie.lo
Xext/xf86bigfont.lo
Xext/xres.lo
Xext/xtest.lo
Xext/xvdisp.lo
Xext/xvmain.lo
Xext/xvmc.lo
Xi/allowev.lo
Xi/chgdctl.lo
Xi/chgfctl.lo
Xi/chgkbd.lo
Xi/chgkmap.lo
Xi/chgprop.lo
Xi/chgptr.lo
Xi/closedev.lo
Xi/devbell.lo
Xi/exevents.lo
Xi/extinit.lo
Xi/getbmap.lo
Xi/getdctl.lo
Xi/getfctl.lo
Xi/getfocus.lo
Xi/getkmap.lo
Xi/getmmap.lo
Xi/getprop.lo
Xi/getselev.lo
Xi/getvers.lo
Xi/grabdev.lo
Xi/grabdevb.lo
Xi/grabdevk.lo
Xi/gtmotion.lo
Xi/libXi.la
Xi/listdev.lo
Xi/opendev.lo
Xi/queryst.lo
Xi/selectev.lo
Xi/sendexev.lo
Xi/setbmap.lo
Xi/setdval.lo
Xi/setfocus.lo
Xi/setmmap.lo
Xi/setmode.lo
Xi/ungrdev.lo
Xi/ungrdevb.lo
Xi/ungrdevk.lo
afb/afbbitblt.lo
afb/afbbltC.lo
afb/afbbltCI.lo
afb/afbbltG.lo
afb/afbbltO.lo
afb/afbbltX.lo
afb/afbbres.lo
afb/afbbresd.lo
afb/afbbstore.lo
afb/afbclip.lo
afb/afbcmap.lo
afb/afbfillarc.lo
afb/afbfillrct.lo
afb/afbfillsp.lo
afb/afbfont.lo
afb/afbgc.lo
afb/afbgetsp.lo
afb/afbhrzvert.lo
afb/afbimage.lo
afb/afbimggblt.lo
afb/afbline.lo
afb/afbmisc.lo
afb/afbpixmap.lo
afb/afbply1rct.lo
afb/afbplygblt.lo
afb/afbpntarea.lo
afb/afbpntwin.lo
afb/afbpolypnt.lo
afb/afbpushpxl.lo
afb/afbscrinit.lo
afb/afbseg.lo
afb/afbsetsp.lo
afb/afbtegblt.lo
afb/afbtileC.lo
afb/afbtileG.lo
afb/afbwindow.lo
afb/afbzerarc.lo
afb/libafb.la
cfb/cfb8bit.lo
cfb/cfb8lineCO.lo
cfb/cfb8lineCP.lo
cfb/cfb8lineG.lo
cfb/cfb8lineX.lo
cfb/cfb8segC.lo
cfb/cfb8segCS.lo
cfb/cfb8segX.lo
cfb/cfb8setG.lo
cfb/cfballpriv.lo
cfb/cfbbitblt.lo
cfb/cfbbltC.lo
cfb/cfbbltG.lo
cfb/cfbbltO.lo
cfb/cfbbltX.lo
cfb/cfbbres.lo
cfb/cfbbresd.lo
cfb/cfbbstore.lo
cfb/cfbcmap.lo
cfb/cfbcppl.lo
cfb/cfbfillarcC.lo
cfb/cfbfillarcG.lo
cfb/cfbfillrct.lo
cfb/cfbfillsp.lo
cfb/cfbgc.lo
cfb/cfbgetsp.lo
cfb/cfbglblt8.lo
cfb/cfbglrop8.lo
cfb/cfbhrzvert.lo
cfb/cfbigblt8.lo
cfb/cfbimage.lo
cfb/cfbline.lo
cfb/cfbmskbits.lo
cfb/cfbpixmap.lo
cfb/cfbply1rctC.lo
cfb/cfbply1rctG.lo
cfb/cfbpntwin.lo
cfb/cfbpolypnt.lo
cfb/cfbpush8.lo
cfb/cfbrctstp8.lo
cfb/cfbrrop.lo
cfb/cfbscrinit.lo
cfb/cfbseg.lo
cfb/cfbsetsp.lo
cfb/cfbsolidC.lo
cfb/cfbsolidG.lo
cfb/cfbsolidX.lo
cfb/cfbteblt8.lo
cfb/cfbtegblt.lo
cfb/cfbtile32C.lo
cfb/cfbtile32G.lo
cfb/cfbtileoddC.lo
cfb/cfbtileoddG.lo
cfb/cfbwindow.lo
cfb/cfbzerarcC.lo
cfb/cfbzerarcG.lo
cfb/cfbzerarcX.lo
cfb/libcfb.la
cfb16/cfb8lineCO.lo
cfb16/cfb8lineCP.lo
cfb16/cfb8lineG.lo
cfb16/cfb8lineX.lo
cfb16/cfb8segC.lo
cfb16/cfb8segCS.lo
cfb16/cfb8segX.lo
cfb16/cfb8setG.lo
cfb16/cfballpriv.lo
cfb16/cfbbitblt.lo
cfb16/cfbbltC.lo
cfb16/cfbbltG.lo
cfb16/cfbbltO.lo
cfb16/cfbbltX.lo
cfb16/cfbbres.lo
cfb16/cfbbresd.lo
cfb16/cfbbstore.lo
cfb16/cfbcmap.lo
cfb16/cfbcppl.lo
cfb16/cfbfillarcC.lo
cfb16/cfbfillarcG.lo
cfb16/cfbfillrct.lo
cfb16/cfbfillsp.lo
cfb16/cfbgc.lo
cfb16/cfbgetsp.lo
cfb16/cfbglblt8.lo
cfb16/cfbhrzvert.lo
cfb16/cfbigblt8.lo
cfb16/cfbimage.lo
cfb16/cfbline.lo
cfb16/cfbmskbits.lo
cfb16/cfbpixmap.lo
cfb16/cfbply1rctC.lo
cfb16/cfbply1rctG.lo
cfb16/cfbpntwin.lo
cfb16/cfbpolypnt.lo
cfb16/cfbrrop.lo
cfb16/cfbscrinit.lo
cfb16/cfbseg.lo
cfb16/cfbsetsp.lo
cfb16/cfbsolidC.lo
cfb16/cfbsolidG.lo
cfb16/cfbsolidX.lo
cfb16/cfbtegblt.lo
cfb16/cfbtile32C.lo
cfb16/cfbtile32G.lo
cfb16/cfbtileoddC.lo
cfb16/cfbtileoddG.lo
cfb16/cfbwindow.lo
cfb16/cfbzerarcC.lo
cfb16/cfbzerarcG.lo
cfb16/cfbzerarcX.lo
cfb16/libcfb16.la
cfb32/cfb8lineCO.lo
cfb32/cfb8lineCP.lo
cfb32/cfb8lineG.lo
cfb32/cfb8lineX.lo
cfb32/cfb8segC.lo
cfb32/cfb8segCS.lo
cfb32/cfb8segX.lo
cfb32/cfb8setG.lo
cfb32/cfballpriv.lo
cfb32/cfbbitblt.lo
cfb32/cfbbltC.lo
cfb32/cfbbltG.lo
cfb32/cfbbltO.lo
cfb32/cfbbltX.lo
cfb32/cfbbres.lo
cfb32/cfbbresd.lo
cfb32/cfbbstore.lo
cfb32/cfbcmap.lo
cfb32/cfbcppl.lo
cfb32/cfbfillarcC.lo
cfb32/cfbfillarcG.lo
cfb32/cfbfillrct.lo
cfb32/cfbfillsp.lo
cfb32/cfbgc.lo
cfb32/cfbgetsp.lo
cfb32/cfbglblt8.lo
cfb32/cfbhrzvert.lo
cfb32/cfbigblt8.lo
cfb32/cfbimage.lo
cfb32/cfbline.lo
cfb32/cfbmskbits.lo
cfb32/cfbpixmap.lo
cfb32/cfbply1rctC.lo
cfb32/cfbply1rctG.lo
cfb32/cfbpntwin.lo
cfb32/cfbpolypnt.lo
cfb32/cfbrrop.lo
cfb32/cfbscrinit.lo
cfb32/cfbseg.lo
cfb32/cfbsetsp.lo
cfb32/cfbsolidC.lo
cfb32/cfbsolidG.lo
cfb32/cfbsolidX.lo
cfb32/cfbtegblt.lo
cfb32/cfbtile32C.lo
cfb32/cfbtile32G.lo
cfb32/cfbtileoddC.lo
cfb32/cfbtileoddG.lo
cfb32/cfbwindow.lo
cfb32/cfbzerarcC.lo
cfb32/cfbzerarcG.lo
cfb32/cfbzerarcX.lo
cfb32/libcfb32.la
composite/compalloc.lo
composite/compext.lo
composite/compinit.lo
composite/compwindow.lo
composite/libcomposite.la
damageext/damageext.lo
damageext/libdamageext.la
dbe/dbe.lo
dbe/libdbe.la
dbe/midbe.lo
dix/atom.lo
dix/colormap.lo
dix/cursor.lo
dix/devices.lo
dix/dispatch.lo
dix/dixfonts.lo
dix/dixutils.lo
dix/events.lo
dix/extension.lo
dix/ffs.lo
dix/gc.lo
dix/globals.lo
dix/glyphcurs.lo
dix/grabs.lo
dix/initatoms.lo
dix/libdix.la
dix/libxpstubs.la
dix/main.lo
dix/pixmap.lo
dix/privates.lo
dix/property.lo
dix/resource.lo
dix/strcasecmp.lo
dix/swaprep.lo
dix/swapreq.lo
dix/tables.lo
dix/window.lo
dix/xpstubs.lo
doc/Xserver.1
doc/Xserver.man
exa/exa.lo
exa/exa_accel.lo
exa/exa_migration.lo
exa/exa_offscreen.lo
exa/exa_render.lo
exa/exa_unaccel.lo
exa/libexa.la
fb/fb24_32.lo
fb/fballpriv.lo
fb/fbarc.lo
fb/fbbits.lo
fb/fbblt.lo
fb/fbbltone.lo
fb/fbbstore.lo
fb/fbcompose.lo
fb/fbcopy.lo
fb/fbedge.lo
fb/fbfill.lo
fb/fbfillrect.lo
fb/fbfillsp.lo
fb/fbgc.lo
fb/fbgetsp.lo
fb/fbglyph.lo
fb/fbimage.lo
fb/fbline.lo
fb/fboverlay.lo
fb/fbpict.lo
fb/fbpixmap.lo
fb/fbpoint.lo
fb/fbpseudocolor.lo
fb/fbpush.lo
fb/fbscreen.lo
fb/fbseg.lo
fb/fbsetsp.lo
fb/fbsolid.lo
fb/fbstipple.lo
fb/fbtile.lo
fb/fbtrap.lo
fb/fbutil.lo
fb/fbwindow.lo
fb/libfb.la
fb/libfbmmx.la
fb/libfbmmx_la-fbmmx.lo
hw/vfb/Xvfb
hw/vfb/Xvfb.1
hw/vfb/Xvfb.man
hw/vnc/buildtime.lo
hw/vnc/libvnc.la
hw/vnc/libvnc_la-xf86vncModule.lo
hw/vnc/libvnccommon.la
hw/vnc/libvnccommon_la-XserverDesktop.lo
hw/vnc/libvnccommon_la-vncExtInit.lo
hw/vnc/libvnccommon_la-vncHooks.lo
hw/xfree86/Xorg
hw/xfree86/common/libcommon.la
hw/xfree86/common/xf86AutoConfig.lo
hw/xfree86/common/xf86Bus.lo
hw/xfree86/common/xf86Config.lo
hw/xfree86/common/xf86Configure.lo
hw/xfree86/common/xf86Cursor.lo
hw/xfree86/common/xf86DGA.lo
hw/xfree86/common/xf86DPMS.lo
hw/xfree86/common/xf86DefModeSet.c
hw/xfree86/common/xf86DefModeSet.lo
hw/xfree86/common/xf86DoProbe.lo
hw/xfree86/common/xf86DoScanPci.lo
hw/xfree86/common/xf86Events.lo
hw/xfree86/common/xf86Globals.lo
hw/xfree86/common/xf86Helper.lo
hw/xfree86/common/xf86Io.lo
hw/xfree86/common/xf86KbdLnx.lo
hw/xfree86/common/xf86MiscExt.lo
hw/xfree86/common/xf86Mode.lo
hw/xfree86/common/xf86Option.lo
hw/xfree86/common/xf86PM.lo
hw/xfree86/common/xf86RandR.lo
hw/xfree86/common/xf86Versions.lo
hw/xfree86/common/xf86VidMode.lo
hw/xfree86/common/xf86XKB.lo
hw/xfree86/common/xf86Xinput.lo
hw/xfree86/common/xf86cmap.lo
hw/xfree86/common/xf86cvt.lo
hw/xfree86/common/xf86fbBus.lo
hw/xfree86/common/xf86fbman.lo
hw/xfree86/common/xf86isaBus.lo
hw/xfree86/common/xf86noBus.lo
hw/xfree86/common/xf86pciBus.lo
hw/xfree86/common/xf86xv.lo
hw/xfree86/common/xf86xvmc.lo
hw/xfree86/common/xisb.lo
hw/xfree86/common/xorgHelper.lo
hw/xfree86/ddc/ddcProperty.lo
hw/xfree86/ddc/edid.lo
hw/xfree86/ddc/interpret_edid.lo
hw/xfree86/ddc/interpret_vdif.lo
hw/xfree86/ddc/libddc.la
hw/xfree86/ddc/print_edid.lo
hw/xfree86/ddc/print_vdif.lo
hw/xfree86/ddc/xf86DDC.lo
hw/xfree86/dixmods/afbmodule.lo
hw/xfree86/dixmods/cfb32module.lo
hw/xfree86/dixmods/cfbmodule.lo
hw/xfree86/dixmods/dbemodule.lo
hw/xfree86/dixmods/extmod/libextmod.la
hw/xfree86/dixmods/extmod/modinit.lo
hw/xfree86/dixmods/extmod/xf86dga.lo
hw/xfree86/dixmods/extmod/xf86dga2.lo
hw/xfree86/dixmods/extmod/xf86misc.lo
hw/xfree86/dixmods/extmod/xf86vmode.lo
hw/xfree86/dixmods/extmod/xvmod.lo
hw/xfree86/dixmods/ftmodule.lo
hw/xfree86/dixmods/libafb.la
hw/xfree86/dixmods/libcfb.la
hw/xfree86/dixmods/libcfb32.la
hw/xfree86/dixmods/libdbe.la
hw/xfree86/dixmods/libdixmods.la
hw/xfree86/dixmods/libdixmods_la-miinitext.lo
hw/xfree86/dixmods/libfb.la
hw/xfree86/dixmods/libfb_la-fbcmap.lo
hw/xfree86/dixmods/libfb_la-fbmodule.lo
hw/xfree86/dixmods/libfreetype.la
hw/xfree86/dixmods/libmfb.la
hw/xfree86/dixmods/librecord.la
hw/xfree86/dixmods/libshadow.la
hw/xfree86/dixmods/libtype1.la
hw/xfree86/dixmods/libxorgxkb.la
hw/xfree86/dixmods/libxtrap.la
hw/xfree86/dixmods/mfbmodule.lo
hw/xfree86/dixmods/recordmod.lo
hw/xfree86/dixmods/shmodule.lo
hw/xfree86/dixmods/type1mod.lo
hw/xfree86/dixmods/xf86XTrapModule.lo
hw/xfree86/dixmods/xkbKillSrv.lo
hw/xfree86/dixmods/xkbPrivate.lo
hw/xfree86/dixmods/xkbVT.lo
hw/xfree86/doc/man/Xorg.1
hw/xfree86/doc/man/Xorg.man
hw/xfree86/doc/man/xorg.conf.5
hw/xfree86/doc/man/xorg.conf.man
hw/xfree86/exa/exa.4
hw/xfree86/exa/exa.man
hw/xfree86/exa/examodule.lo
hw/xfree86/exa/libexa.la
hw/xfree86/fbdevhw/fbdevhw.4
hw/xfree86/fbdevhw/fbdevhw.lo
hw/xfree86/fbdevhw/fbdevhw.man
hw/xfree86/fbdevhw/libfbdevhw.la
hw/xfree86/i2c/bt829.lo
hw/xfree86/i2c/bt829_drv.la
hw/xfree86/i2c/bt829_module.lo
hw/xfree86/i2c/fi1236.lo
hw/xfree86/i2c/fi1236_drv.la
hw/xfree86/i2c/fi1236_module.lo
hw/xfree86/i2c/libi2c.la
hw/xfree86/i2c/msp3430.lo
hw/xfree86/i2c/msp3430_drv.la
hw/xfree86/i2c/msp3430_module.lo
hw/xfree86/i2c/tda8425.lo
hw/xfree86/i2c/tda8425_drv.la
hw/xfree86/i2c/tda8425_module.lo
hw/xfree86/i2c/tda9850.lo
hw/xfree86/i2c/tda9850_drv.la
hw/xfree86/i2c/tda9850_module.lo
hw/xfree86/i2c/tda9885.lo
hw/xfree86/i2c/tda9885_drv.la
hw/xfree86/i2c/tda9885_module.lo
hw/xfree86/i2c/uda1380.lo
hw/xfree86/i2c/uda1380_drv.la
hw/xfree86/i2c/uda1380_module.lo
hw/xfree86/i2c/xf86i2c.lo
hw/xfree86/i2c/xf86i2cmodule.lo
hw/xfree86/int10/helper_exec.lo
hw/xfree86/int10/helper_mem.lo
hw/xfree86/int10/libint10.la
hw/xfree86/int10/linux.lo
hw/xfree86/int10/linux_vm86.lo
hw/xfree86/int10/pci.lo
hw/xfree86/int10/xf86int10.lo
hw/xfree86/int10/xf86int10module.lo
hw/xfree86/libosandcommon.la
hw/xfree86/os-support/bus/Pci.lo
hw/xfree86/os-support/bus/ix86Pci.lo
hw/xfree86/os-support/bus/libbus.la
hw/xfree86/os-support/bus/linuxPci.lo
hw/xfree86/os-support/libxorgos.la
hw/xfree86/os-support/linux/VTsw_usl.lo
hw/xfree86/os-support/linux/at_scancode.lo
hw/xfree86/os-support/linux/bios_mmap.lo
hw/xfree86/os-support/linux/libc_wrapper.lo
hw/xfree86/os-support/linux/liblinux.la
hw/xfree86/os-support/linux/lnx_KbdMap.lo
hw/xfree86/os-support/linux/lnx_acpi.lo
hw/xfree86/os-support/linux/lnx_agp.lo
hw/xfree86/os-support/linux/lnx_apm.lo
hw/xfree86/os-support/linux/lnx_init.lo
hw/xfree86/os-support/linux/lnx_io.lo
hw/xfree86/os-support/linux/lnx_kbd.lo
hw/xfree86/os-support/linux/lnx_kmod.lo
hw/xfree86/os-support/linux/lnx_mouse.lo
hw/xfree86/os-support/linux/lnx_pci.lo
hw/xfree86/os-support/linux/lnx_video.lo
hw/xfree86/os-support/linux/posix_tty.lo
hw/xfree86/os-support/linux/sigio.lo
hw/xfree86/os-support/linux/stdResource.lo
hw/xfree86/os-support/linux/std_kbdEv.lo
hw/xfree86/os-support/linux/vidmem.lo
hw/xfree86/os-support/misc/BUSmemcpy.lo
hw/xfree86/os-support/misc/Delay.lo
hw/xfree86/os-support/misc/IODelay.lo
hw/xfree86/os-support/misc/SlowBcopy.lo
hw/xfree86/os-support/misc/libmisc.la
hw/xfree86/os-support/misc/xf86_Util.lo
hw/xfree86/os-support/xorgos.lo
hw/xfree86/osandcommon.lo
hw/xfree86/ramdac/BT.lo
hw/xfree86/ramdac/IBM.lo
hw/xfree86/ramdac/TI.lo
hw/xfree86/ramdac/libramdac.la
hw/xfree86/ramdac/xf86BitOrder.lo
hw/xfree86/ramdac/xf86Cursor.lo
hw/xfree86/ramdac/xf86HWCurs.lo
hw/xfree86/ramdac/xf86RamDac.lo
hw/xfree86/ramdac/xf86RamDacCmap.lo
hw/xfree86/ramdac/xf86RamDacMod.lo
hw/xfree86/scanpci/libpcidata.la
hw/xfree86/scanpci/libscanpci.la
hw/xfree86/scanpci/xf86PciData.lo
hw/xfree86/scanpci/xf86ScanPci.lo
hw/xfree86/shadowfb/libshadowfb.la
hw/xfree86/shadowfb/sfbmodule.lo
hw/xfree86/shadowfb/shadow.lo
hw/xfree86/utils/cvt/cvt
hw/xfree86/utils/cvt/cvt.man
hw/xfree86/utils/gtf/gtf
hw/xfree86/utils/gtf/gtf.1
hw/xfree86/utils/gtf/gtf.man
hw/xfree86/utils/ioport/ioport
hw/xfree86/utils/pcitweak/pcitweak
hw/xfree86/utils/pcitweak/pcitweak.1
hw/xfree86/utils/pcitweak/pcitweak.man
hw/xfree86/utils/scanpci/scanpci
hw/xfree86/utils/scanpci/scanpci.1
hw/xfree86/utils/scanpci/scanpci.man
hw/xfree86/utils/xorgconfig/xorgconfig
hw/xfree86/utils/xorgconfig/xorgconfig.1
hw/xfree86/utils/xorgconfig/xorgconfig.man
hw/xfree86/vbe/libvbe.la
hw/xfree86/vbe/vbe.lo
hw/xfree86/vbe/vbeModes.lo
hw/xfree86/vbe/vbe_module.lo
hw/xfree86/vgahw/libvgahw.la
hw/xfree86/vgahw/vgaHW.lo
hw/xfree86/vgahw/vgaHWmodule.lo
hw/xfree86/xaa/l-xaaBitmap.lo
hw/xfree86/xaa/l-xaaStipple.lo
hw/xfree86/xaa/l-xaaTEGlyph.lo
hw/xfree86/xaa/l3-xaaBitmap.lo
hw/xfree86/xaa/l3-xaaStipple.lo
hw/xfree86/xaa/lf-xaaBitmap.lo
hw/xfree86/xaa/lf-xaaStipple.lo
hw/xfree86/xaa/lf-xaaTEGlyph.lo
hw/xfree86/xaa/lf3-xaaBitmap.lo
hw/xfree86/xaa/lf3-xaaStipple.lo
hw/xfree86/xaa/libxaa.la
hw/xfree86/xaa/m-xaaBitmap.lo
hw/xfree86/xaa/m-xaaStipple.lo
hw/xfree86/xaa/m-xaaTEGlyph.lo
hw/xfree86/xaa/m3-xaaBitmap.lo
hw/xfree86/xaa/m3-xaaStipple.lo
hw/xfree86/xaa/mf-xaaBitmap.lo
hw/xfree86/xaa/mf-xaaStipple.lo
hw/xfree86/xaa/mf-xaaTEGlyph.lo
hw/xfree86/xaa/mf3-xaaBitmap.lo
hw/xfree86/xaa/mf3-xaaStipple.lo
hw/xfree86/xaa/s-xaaDashLine.lo
hw/xfree86/xaa/s-xaaLine.lo
hw/xfree86/xaa/xaaBitBlt.lo
hw/xfree86/xaa/xaaBitOrder.lo
hw/xfree86/xaa/xaaCpyArea.lo
hw/xfree86/xaa/xaaCpyPlane.lo
hw/xfree86/xaa/xaaCpyWin.lo
hw/xfree86/xaa/xaaDashLine.lo
hw/xfree86/xaa/xaaFallback.lo
hw/xfree86/xaa/xaaFillArc.lo
hw/xfree86/xaa/xaaFillPoly.lo
hw/xfree86/xaa/xaaFillRect.lo
hw/xfree86/xaa/xaaGC.lo
hw/xfree86/xaa/xaaGCmisc.lo
hw/xfree86/xaa/xaaImage.lo
hw/xfree86/xaa/xaaInit.lo
hw/xfree86/xaa/xaaInitAccel.lo
hw/xfree86/xaa/xaaLine.lo
hw/xfree86/xaa/xaaLineMisc.lo
hw/xfree86/xaa/xaaNonTEText.lo
hw/xfree86/xaa/xaaOffscreen.lo
hw/xfree86/xaa/xaaOverlay.lo
hw/xfree86/xaa/xaaOverlayDF.lo
hw/xfree86/xaa/xaaPCache.lo
hw/xfree86/xaa/xaaPaintWin.lo
hw/xfree86/xaa/xaaPict.lo
hw/xfree86/xaa/xaaROP.lo
hw/xfree86/xaa/xaaRect.lo
hw/xfree86/xaa/xaaSpans.lo
hw/xfree86/xaa/xaaStateChange.lo
hw/xfree86/xaa/xaaTEText.lo
hw/xfree86/xaa/xaaTables.lo
hw/xfree86/xaa/xaaWideLine.lo
hw/xfree86/xaa/xaaWrapper.lo
hw/xfree86/xf1bpp/libxf1bpp.la
hw/xfree86/xf1bpp/maskbits.lo
hw/xfree86/xf1bpp/mfbbitblt.lo
hw/xfree86/xf1bpp/mfbbltC.lo
hw/xfree86/xf1bpp/mfbbltCI.lo
hw/xfree86/xf1bpp/mfbbltG.lo
hw/xfree86/xf1bpp/mfbbltO.lo
hw/xfree86/xf1bpp/mfbbltX.lo
hw/xfree86/xf1bpp/mfbbres.lo
hw/xfree86/xf1bpp/mfbbresd.lo
hw/xfree86/xf1bpp/mfbbstore.lo
hw/xfree86/xf1bpp/mfbclip.lo
hw/xfree86/xf1bpp/mfbcmap.lo
hw/xfree86/xf1bpp/mfbfillarc.lo
hw/xfree86/xf1bpp/mfbfillrct.lo
hw/xfree86/xf1bpp/mfbfillsp.lo
hw/xfree86/xf1bpp/mfbfont.lo
hw/xfree86/xf1bpp/mfbgc.lo
hw/xfree86/xf1bpp/mfbgetsp.lo
hw/xfree86/xf1bpp/mfbhrzvert.lo
hw/xfree86/xf1bpp/mfbigbblak.lo
hw/xfree86/xf1bpp/mfbigbwht.lo
hw/xfree86/xf1bpp/mfbimage.lo
hw/xfree86/xf1bpp/mfbline.lo
hw/xfree86/xf1bpp/mfbmisc.lo
hw/xfree86/xf1bpp/mfbmodule.lo
hw/xfree86/xf1bpp/mfbpablack.lo
hw/xfree86/xf1bpp/mfbpainv.lo
hw/xfree86/xf1bpp/mfbpawhite.lo
hw/xfree86/xf1bpp/mfbpgbblak.lo
hw/xfree86/xf1bpp/mfbpgbinv.lo
hw/xfree86/xf1bpp/mfbpgbwht.lo
hw/xfree86/xf1bpp/mfbpixmap.lo
hw/xfree86/xf1bpp/mfbplyblack.lo
hw/xfree86/xf1bpp/mfbplyinv.lo
hw/xfree86/xf1bpp/mfbplywhite.lo
hw/xfree86/xf1bpp/mfbpntwin.lo
hw/xfree86/xf1bpp/mfbpolypnt.lo
hw/xfree86/xf1bpp/mfbpushpxl.lo
hw/xfree86/xf1bpp/mfbscrclse.lo
hw/xfree86/xf1bpp/mfbscrinit.lo
hw/xfree86/xf1bpp/mfbseg.lo
hw/xfree86/xf1bpp/mfbsetsp.lo
hw/xfree86/xf1bpp/mfbteblack.lo
hw/xfree86/xf1bpp/mfbtewhite.lo
hw/xfree86/xf1bpp/mfbtileC.lo
hw/xfree86/xf1bpp/mfbtileG.lo
hw/xfree86/xf1bpp/mfbwindow.lo
hw/xfree86/xf1bpp/mfbzerarc.lo
hw/xfree86/xf4bpp/emulOpStip.lo
hw/xfree86/xf4bpp/emulRepAre.lo
hw/xfree86/xf4bpp/emulTile.lo
hw/xfree86/xf4bpp/libxf4bpp.la
hw/xfree86/xf4bpp/mfbbres.lo
hw/xfree86/xf4bpp/mfbbresd.lo
hw/xfree86/xf4bpp/mfbfillarc.lo
hw/xfree86/xf4bpp/mfbhrzvert.lo
hw/xfree86/xf4bpp/mfbimggblt.lo
hw/xfree86/xf4bpp/mfbline.lo
hw/xfree86/xf4bpp/mfbseg.lo
hw/xfree86/xf4bpp/mfbzerarc.lo
hw/xfree86/xf4bpp/offscreen.lo
hw/xfree86/xf4bpp/ppcArea.lo
hw/xfree86/xf4bpp/ppcBStore.lo
hw/xfree86/xf4bpp/ppcCReduce.lo
hw/xfree86/xf4bpp/ppcClip.lo
hw/xfree86/xf4bpp/ppcCpArea.lo
hw/xfree86/xf4bpp/ppcDepth.lo
hw/xfree86/xf4bpp/ppcFillRct.lo
hw/xfree86/xf4bpp/ppcGC.lo
hw/xfree86/xf4bpp/ppcGetSp.lo
hw/xfree86/xf4bpp/ppcIO.lo
hw/xfree86/xf4bpp/ppcImg.lo
hw/xfree86/xf4bpp/ppcPixFS.lo
hw/xfree86/xf4bpp/ppcPixmap.lo
hw/xfree86/xf4bpp/ppcPntWin.lo
hw/xfree86/xf4bpp/ppcPolyPnt.lo
hw/xfree86/xf4bpp/ppcPolyRec.lo
hw/xfree86/xf4bpp/ppcQuery.lo
hw/xfree86/xf4bpp/ppcRslvC.lo
hw/xfree86/xf4bpp/ppcSetSp.lo
hw/xfree86/xf4bpp/ppcWinFS.lo
hw/xfree86/xf4bpp/ppcWindow.lo
hw/xfree86/xf4bpp/vgaBitBlt.lo
hw/xfree86/xf4bpp/vgaGC.lo
hw/xfree86/xf4bpp/vgaImages.lo
hw/xfree86/xf4bpp/vgaSolid.lo
hw/xfree86/xf4bpp/vgaStipple.lo
hw/xfree86/xf4bpp/vgamodule.lo
hw/xfree86/xf4bpp/wm3.lo
hw/xfree86/xf8_16bpp/libxf8_16bpp.la
hw/xfree86/xf8_16bpp/xf8_16module.lo
hw/xfree86/xf8_32bpp/cfb8_32module.lo
hw/xfree86/xf8_32bpp/cfbbstore.lo
hw/xfree86/xf8_32bpp/cfbcpyarea.lo
hw/xfree86/xf8_32bpp/cfbcpyplane.lo
hw/xfree86/xf8_32bpp/cfbgc32.lo
hw/xfree86/xf8_32bpp/cfbgc8.lo
hw/xfree86/xf8_32bpp/cfbgcmisc.lo
hw/xfree86/xf8_32bpp/cfbgcunder.lo
hw/xfree86/xf8_32bpp/cfbimage.lo
hw/xfree86/xf8_32bpp/cfbpntwin.lo
hw/xfree86/xf8_32bpp/cfbscrinit.lo
hw/xfree86/xf8_32bpp/cfbwindow.lo
hw/xfree86/xf8_32bpp/libxf8_32bpp.la
hw/xfree86/xf8_32bpp/xf86overlay.lo
hw/xnest/Xnest
hw/xnest/Xnest.1
hw/xnest/Xnest.man
mfb/libmfb.la
mfb/maskbits.lo
mfb/mfbbitblt.lo
mfb/mfbbltC.lo
mfb/mfbbltCI.lo
mfb/mfbbltG.lo
mfb/mfbbltO.lo
mfb/mfbbltX.lo
mfb/mfbbres.lo
mfb/mfbbresd.lo
mfb/mfbbstore.lo
mfb/mfbclip.lo
mfb/mfbcmap.lo
mfb/mfbfillarc.lo
mfb/mfbfillrct.lo
mfb/mfbfillsp.lo
mfb/mfbfont.lo
mfb/mfbgc.lo
mfb/mfbgetsp.lo
mfb/mfbhrzvert.lo
mfb/mfbigbblak.lo
mfb/mfbigbwht.lo
mfb/mfbimage.lo
mfb/mfbline.lo
mfb/mfbmisc.lo
mfb/mfbpablack.lo
mfb/mfbpainv.lo
mfb/mfbpawhite.lo
mfb/mfbpgbblak.lo
mfb/mfbpgbinv.lo
mfb/mfbpgbwht.lo
mfb/mfbpixmap.lo
mfb/mfbplyblack.lo
mfb/mfbplyinv.lo
mfb/mfbplywhite.lo
mfb/mfbpntwin.lo
mfb/mfbpolypnt.lo
mfb/mfbpushpxl.lo
mfb/mfbscrclse.lo
mfb/mfbscrinit.lo
mfb/mfbseg.lo
mfb/mfbsetsp.lo
mfb/mfbteblack.lo
mfb/mfbtewhite.lo
mfb/mfbtileC.lo
mfb/mfbtileG.lo
mfb/mfbwindow.lo
mfb/mfbzerarc.lo
mi/cbrt.lo
mi/libmi.la
mi/libminimi.la
mi/miarc.lo
mi/mibank.lo
mi/mibitblt.lo
mi/mibstore.lo
mi/micmap.lo
mi/micursor.lo
mi/midash.lo
mi/midispcur.lo
mi/mieq.lo
mi/miexpose.lo
mi/mifillarc.lo
mi/mifillrct.lo
mi/mifpolycon.lo
mi/migc.lo
mi/miglblt.lo
mi/mioverlay.lo
mi/mipointer.lo
mi/mipoly.lo
mi/mipolycon.lo
mi/mipolygen.lo
mi/mipolypnt.lo
mi/mipolyrect.lo
mi/mipolyseg.lo
mi/mipolytext.lo
mi/mipolyutil.lo
mi/mipushpxl.lo
mi/miregion.lo
mi/miscrinit.lo
mi/mispans.lo
mi/misprite.lo
mi/mivaltree.lo
mi/miwideline.lo
mi/miwindow.lo
mi/mizerarc.lo
mi/mizerclip.lo
mi/mizerline.lo
miext/cw/cw.lo
miext/cw/cw_ops.lo
miext/cw/cw_render.lo
miext/cw/libcw.la
miext/damage/damage.lo
miext/damage/libdamage.la
miext/shadow/libshadow.la
miext/shadow/shadow.lo
miext/shadow/shalloc.lo
miext/shadow/shpacked.lo
miext/shadow/shplanar.lo
miext/shadow/shplanar8.lo
miext/shadow/shrot16pack.lo
miext/shadow/shrot16pack_180.lo
miext/shadow/shrot16pack_270.lo
miext/shadow/shrot16pack_270YX.lo
miext/shadow/shrot16pack_90.lo
miext/shadow/shrot16pack_90YX.lo
miext/shadow/shrot32pack.lo
miext/shadow/shrot32pack_180.lo
miext/shadow/shrot32pack_270.lo
miext/shadow/shrot32pack_90.lo
miext/shadow/shrot8pack.lo
miext/shadow/shrot8pack_180.lo
miext/shadow/shrot8pack_270.lo
miext/shadow/shrot8pack_90.lo
miext/shadow/shrotate.lo
os/WaitFor.lo
os/access.lo
os/auth.lo
os/connection.lo
os/io.lo
os/libcwrapper.la
os/libcwrapper_la-libc_wrapper.lo
os/libos.la
os/log.lo
os/mitauth.lo
os/oscolor.lo
os/osinit.lo
os/secauth.lo
os/strlcat.lo
os/strlcpy.lo
os/utils.lo
os/xdmauth.lo
os/xdmcp.lo
os/xprintf.lo
os/xstrans.lo
randr/librandr.la
randr/mirandr.lo
randr/randr.lo
record/librecord.la
record/record.lo
record/set.lo
render/animcur.lo
render/filter.lo
render/glyph.lo
render/librender.la
render/miglyph.lo
render/miindex.lo
render/mipict.lo
render/mirect.lo
render/mitrap.lo
render/mitri.lo
render/picture.lo
render/render.lo
render/renderedge.lo
xfixes/cursor.lo
xfixes/libxfixes.la
xfixes/region.lo
xfixes/saveset.lo
xfixes/select.lo
xfixes/xfixes.lo
xkb/XKBAlloc.lo
xkb/XKBGAlloc.lo
xkb/XKBMAlloc.lo
xkb/XKBMisc.lo
xkb/ddxBeep.lo
xkb/ddxCtrls.lo
xkb/ddxDevBtn.lo
xkb/ddxFakeBtn.lo
xkb/ddxFakeMtn.lo
xkb/ddxInit.lo
xkb/ddxKeyClick.lo
xkb/ddxKillSrv.lo
xkb/ddxLEDs.lo
xkb/ddxList.lo
xkb/ddxLoad.lo
xkb/ddxPrivate.lo
xkb/ddxVT.lo
xkb/libxkb.la
xkb/libxkbstubs.la
xkb/maprules.lo
xkb/xkb.lo
xkb/xkbAccessX.lo
xkb/xkbActions.lo
xkb/xkbEvents.lo
xkb/xkbInit.lo
xkb/xkbLEDs.lo
xkb/xkbPrKeyEv.lo
xkb/xkbPrOtherEv.lo
xkb/xkbSwap.lo
xkb/xkbUtils.lo
xkb/xkberrs.lo
xkb/xkbfmisc.lo
xkb/xkbout.lo
xkb/xkbtext.lo
xkb/xkmread.lo
