Package: xvnc4viewer
Version: 4.1.1+xorg1.0.2-0ubuntu4
Section: net
Priority: optional
Architecture: i386
Depends: libc6 (>= 2.5-0ubuntu1), libgcc1 (>= 1:4.1.2), libice6 (>= 1:1.0.0), libsm6, libstdc++6 (>= 4.1.2), libx11-6, libxext6, zlib1g (>= 1:1.2.1)
Suggests: vnc4-common | vnc-common
Provides: vnc-viewer
Installed-Size: 400
Maintainer: Ola Lundqvist <opal@debian.org>
Source: vnc4
Description: Virtual network computing client software for X
 VNC stands for Virtual Network Computing. It is, in essence, a remote
 display system which allows you to view a computing `desktop' environment
 not only on the machine where it is running, but from anywhere on the
 Internet and from a wide variety of machine architectures.
 .
 It is implemented in a client/server model. This package provides a vncclient
 for X, with this you can connect to a vncserver somewhere in the network
 and display its content in a window. There are vncserver available for X
 and for Win95/NT.
